<div ng-controller="ClienteCtrl as ctrl">
    <div id="navPage">
        <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" style="border-radius: 0px;" data-toggle="pill"
                    ng-click="ctrl.selecionarView('clientes'); ctrl.viewClientesInicio(); ctrl.carregarClientes()">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="border-radius: 0px;" data-toggle="pill"
                    ng-click="ctrl.selecionarView('buscarCliente')">Buscar
                    Cliente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="border-radius: 0px;" data-toggle="pill"
                    ng-click="ctrl.selecionarView('cadastrarCliente')">Cadastrar Cliente</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="border-radius: 0px;" data-toggle="pill"
                    ng-click="ctrl.selecionarView('clienteAtualizarNome')">Atualizar Nome do Cliente</a>
            </li>
        </ul>
    </div>

    <div class="jumbotron" ng-show="ctrl.clientes.length == 0 && ctrl.viewSelecionado == 'clientes'">
        <div class="alert alert-danger"> Não foi encontrado nenhum cliente!</div>
    </div>
    <div class="jumbotron" ng-show="ctrl.clientes.length > 0 && ctrl.viewSelecionado == 'clientes'" id="clientes">
        <h4>Clientes</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Total Gasto</th>
                    <th>Compras</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cliente in ctrl.clientes">
                    <td>{{cliente.id}}</td>
                    <td>{{cliente.nome}}</td>
                    <td>{{cliente.cpf | cpfFilter}}</td>
                    <td>{{cliente.totalGasto | currency}}</td>
                    <td>{{cliente.quantidadeCompras}}</td>
                </tr>
            </tbody>
        </table>

        <div class="row lanc-list-pagination">
            <nav aria-label="...">
                <ul class="pagination">
                    <li ng-class="{ 'disabled': ctrl.paginationFirst}" class="page-item">
                        <button type="button" ng-disabled="ctrl.paginationFirst"
                            ng-click="ctrl.viewPageNavigationAnterior()" class="page-link">Anterior</button>
                    </li>
                    <li ng-repeat="viewPage in ctrl.pagination" ng-class="{'active':ctrl.page == viewPage}"
                        class="page-item">
                        <a class="page-link" ng-click="ctrl.viewPageNavigation(viewPage)">{{viewPage}}</a>
                    </li>
                    <li ng-class="{ 'disabled': ctrl.paginationLast}" class="page-item">
                        <button type="button" ng-disabled="ctrl.paginationLast"
                            ng-click="ctrl.viewPageNavigationProxima()" class="page-link">Próxima</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="jumbotron" id="buscarCliente" ng-show="ctrl.viewSelecionado == 'buscarCliente'">
        <h4>Buscar Cliente</h4>
        <form name="clienteFormBuscar">
            <input class="form-control" type="text" ng-model="buscarCliente.cpf" name="cpfBuscarCliente"
                placeholder="CPF do Cliente" ng-pattern="/^\d{11}$/" required="true" />
        </form>
        <button style="margin-bottom: 15px;" class="btn btn-primary btn-block"
            ng-click="ctrl.buscarCliente(buscarCliente)" ng-disabled="clienteFormBuscar.$invalid">Buscar
            Cliente</button>
        <div ng-show="clienteFormBuscar.cpfBuscarCliente.$invalid && clienteFormBuscar.cpfBuscarCliente.$dirty"
            class="alert alert-danger">
            CPF Inválido
        </div>
        <table class="table" ng-show="ctrl.showClienteEncontrado">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Total Gasto</th>
                    <th>Compras</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ctrl.clienteEncontrado.id}}</td>
                    <td>{{ctrl.clienteEncontrado.nome}}</td>
                    <td>{{ctrl.clienteEncontrado.cpf | cpfFilter}}</td>
                    <td>{{ctrl.clienteEncontrado.totalGasto | currency}}</td>
                    <td>{{ctrl.clienteEncontrado.quantidadeCompras}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="jumbotron" id="cadastrarCliente" ng-show="ctrl.viewSelecionado == 'cadastrarCliente'">
        <h4>Cadastrar Cliente</h4>
        <form name="clienteFormCadastrar">
            <input class="form-control" type="text" ng-model="cadastrarCliente.nome" name="nome"
                placeholder="Nome do Cliente" ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$/"
                ng-required="true">
            <input class="form-control" type="text" ng-model="cadastrarCliente.cpf" name="cpf"
                placeholder="CPF do Cliente" ng-pattern="/^\d{11}$/" ng-required="true" />
        </form>

        <button style="margin-bottom: 15px;" id="buttonCadastrar" class="btn btn-primary btn-block"
            ng-click="ctrl.cadastrarCliente(cadastrarCliente)" ng-disabled="clienteFormCadastrar.$invalid">Cadastrar
            Cliente</button>

        <div ng-show="clienteFormCadastrar.nome.$invalid && clienteFormCadastrar.nome.$dirty"
            class="alert alert-danger">
            Nome Inválido
        </div>
        <div ng-show="clienteFormCadastrar.cpf.$invalid && clienteFormCadastrar.cpf.$dirty" class="alert alert-danger">
            CPF Inválido
        </div>
        <table class="table" ng-show="ctrl.showClienteCadastrado">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Total Gasto</th>
                    <th>Compras</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ctrl.clienteCadastrado.id}}</td>
                    <td>{{ctrl.clienteCadastrado.nome}}</td>
                    <td>{{ctrl.clienteCadastrado.cpf | cpfFilter}}</td>
                    <td>{{ctrl.clienteCadastrado.totalGasto | currency}}</td>
                    <td>{{ctrl.clienteCadastrado.quantidadeCompras}}</td>
                </tr>
            </tbody>
        </table>

    </div>

    <div class="jumbotron" id="clienteAtualizarNome" ng-show="ctrl.viewSelecionado == 'clienteAtualizarNome'">
        <h4>Atualizar Nome do Cliente</h4>
        <form name="clienteFormAtualizarNome">
            <input class="form-control" type="text" ng-model="clienteAtualizarNome.cpf" name="cpf"
                placeholder="CPF do Cliente" ng-pattern="/^\d{11}$/" required="true" />
            <input class="form-control" type="text" ng-model="clienteAtualizarNome.nome" name="nome"
                placeholder="Novo Nome do Cliente" ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$/"
                ng-required="true">
        </form>
        <button style="margin-bottom: 15px;" class="btn btn-primary btn-block"
            ng-click="ctrl.clienteAtualizarNome(clienteAtualizarNome)"
            ng-disabled="clienteFormAtualizarNome.$invalid">Atualizar
            Nome</button>
        <div ng-show="clienteFormAtualizarNome.cpf.$invalid && clienteFormAtualizarNome.cpf.$dirty"
            class="alert alert-danger">
            CPF Inválido
        </div>
        <div ng-show="clienteFormAtualizarNome.nome.$invalid && clienteFormAtualizarNome.nome.$dirty"
            class="alert alert-danger">
            Nome Inválido
        </div>
        <table class="table" ng-show="ctrl.showClienteNomeAtualizado">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Total Gasto</th>
                    <th>Compras</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ctrl.clienteNomeAtualizado.id}}</td>
                    <td>{{ctrl.clienteNomeAtualizado.nome}}</td>
                    <td>{{ctrl.clienteNomeAtualizado.cpf | cpfFilter}}</td>
                    <td>{{ctrl.clienteNomeAtualizado.totalGasto | currency}}</td>
                    <td>{{ctrl.clienteNomeAtualizado.quantidadeCompras}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>