<div ng-controller="IngredienteCtrl as ctrl">

    <div>
        <ul class="nav nav-pills nav-justified" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" style="border-radius: 0px;" data-toggle="pill"
                    ng-click="ctrl.selecionarView('ingredientes', 'ingredientes'); ctrl.viewIngredientesInicio(); ctrl.carregarIngredientes()">Ingredientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="border-radius: 0px;" data-toggle="pill"
                    ng-click="ctrl.selecionarView('ingredientesLimite', 'ingredientesLimite'); ctrl.viewIngredientesLimiteInicio(); ctrl.carregarIngredientesLimite()">Ingredientes
                    no Limite</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="border-radius: 0px;" data-toggle="pill"
                    ng-click="ctrl.selecionarView('ingredientesZerados', 'ingredientesZerados'); ctrl.viewIngredientesZeradosInicio(); ctrl.carregarIngredientesZerados()">Ingredientes
                    Zerados</a>
            </li>
        </ul>
    </div>

    <div>
        <ul class="nav nav-pills nav-justified" id="navFunction" ng-show="ctrl.viewSelecionado == 'ingredientes'">
            <li class="nav-item">
                <a class="nav-link" style="border-radius: 0px;" data-toggle="pill"
                    ng-click="ctrl.selecionarView('cadastrar', 'ingredientes')">Cadastrar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="border-radius: 0px;" data-toggle="pill"
                    ng-click="ctrl.selecionarView('comprar', 'ingredientes')">Comprar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="border-radius: 0px;" data-toggle="pill"
                    ng-click="ctrl.selecionarView('darBaixa', 'ingredientes')">Dar Baixa</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="border-radius: 0px;" data-toggle="pill"
                    ng-click="ctrl.selecionarView('atualizarNome', 'ingredientes')">Atualizar Nome</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="border-radius: 0px;" data-toggle="pill"
                    ng-click="ctrl.selecionarView('atualizarQuantidadeMinima', 'ingredientes')">Atualizar Quantidade
                    Mínima</a>
            </li>
        </ul>
    </div>

    <div class="jumbotron" ng-show="ctrl.ingredientes.length == 0 && ctrl.viewPagina == 'ingredientes'">
        <div class="alert alert-danger"> Não foi encontrado nenhum ingrediente!</div>
    </div>
    <div class="jumbotron" ng-show="ctrl.ingredientes.length > 0 && ctrl.viewPagina == 'ingredientes'" id="ingredientes">
        <h4>Ingredientes</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Quantidade Mínima</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ingrediente in ctrl.ingredientes">
                    <td>{{ingrediente.id}}</td>
                    <td>{{ingrediente.nome}}</td>
                    <td>{{ingrediente.quantidade}}</td>
                    <td>{{ingrediente.quantidadeMinima}}</td>
                </tr>
            </tbody>
        </table>

        <div class="row lanc-list-pagination">
            <nav aria-label="...">
                <ul class="pagination">
                    <li ng-class="{ 'disabled': ctrl.paginationIngredientesFirst}" class="page-item">
                        <button type="button" ng-disabled="ctrl.paginationIngredientesFirst"
                            ng-click="ctrl.viewPageNavigationIngredientesAnterior()" class="page-link">Anterior</button>
                    </li>
                    <li ng-repeat="viewPageIngredientes in ctrl.paginationIngredientes"
                        ng-class="{'active':ctrl.pageIngredientes == viewPageIngredientes}" class="page-item">
                        <a class="page-link"
                            ng-click="ctrl.viewPageNavigationIngredientes(viewPageIngredientes)">{{viewPageIngredientes}}</a>
                    </li>
                    <li ng-class="{ 'disabled': ctrl.paginationIngredientesLast}" class="page-item">
                        <button type="button" ng-disabled="ctrl.paginationIngredientesLast"
                            ng-click="ctrl.viewPageNavigationIngredientesProxima()" class="page-link">Próxima</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="jumbotron" id="cadastrarIngrediente" ng-show="ctrl.viewPagina == 'cadastrar'">
        <h4>Cadastrar Ingrediente</h4>
        <form name="ingredienteFormCadastrar">
            <input class="form-control" type="text" ng-model="ingrediente.nome" name="nome"
                placeholder="Nome do Ingrediente" ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$/"
                ng-required="true">
            <input class="form-control" type="text" ng-model="ingrediente.quantidade" name="quantidade"
                placeholder="Quantidade" ng-pattern="/^\d*\.\d{1,3}$/" ng-required="true" />
            <input class="form-control" type="text" ng-model="ingrediente.quantidadeMinima" name="quantidadeMinima"
                placeholder="Quantidade Mínima" ng-pattern="/^\d*\.\d{1,3}$/" ng-required="true" />
        </form>

        <button style="margin-bottom: 15px;" id="buttonCadastrar" class="btn btn-primary btn-block"
            ng-click="ctrl.cadastrarIngrediente(ingrediente)" ng-disabled="ingredienteFormCadastrar.$invalid">Cadastrar
            Ingrediente</button>

        <div ng-show="ingredienteFormCadastrar.nome.$invalid && ingredienteFormCadastrar.nome.$dirty"
            class="alert alert-danger">
            Nome Inválido
        </div>
        <div ng-show="ingredienteFormCadastrar.quantidade.$invalid && ingredienteFormCadastrar.quantidade.$dirty"
            class="alert alert-danger">
            Quantidade Inválida
        </div>
        <div ng-show="ingredienteFormCadastrar.quantidadeMinima.$invalid && ingredienteFormCadastrar.quantidadeMinima.$dirty"
            class="alert alert-danger">
            Quantidade Mínima Inválida
        </div>
        <table class="table" ng-show="ctrl.showIngredienteCadastrado">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Quantidade Mínima</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ctrl.ingredienteCadastrado.id}}</td>
                    <td>{{ctrl.ingredienteCadastrado.nome}}</td>
                    <td>{{ctrl.ingredienteCadastrado.quantidade}}</td>
                    <td>{{ctrl.ingredienteCadastrado.quantidadeMinima}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="jumbotron" id="comprarIngrediente" ng-show="ctrl.viewPagina == 'comprar'">
        <h4>Comprar Ingrediente</h4>
        <form name="ingredienteFormComprar">
            <input class="form-control" type="text" ng-model="ingredienteComprar.id" name="ingredienteId"
                placeholder="ID do Ingrediente" ng-pattern="/^[1-9][0-9]*$/" ng-required="true" />
            <input class="form-control" type="text" ng-model="ingredienteComprar.quantidade" name="quantidade"
                placeholder="Quantidade da compra" ng-pattern="/^\d*\.\d{1,3}$/" ng-required="true" />
        </form>
        <button style="margin-bottom: 15px;" class="btn btn-primary btn-block"
            ng-click="ctrl.comprarIngrediente(ingredienteComprar)"
            ng-disabled="ingredienteFormComprar.$invalid">Comprar Ingrediente</button>
        <div ng-show="ingredienteFormComprar.ingredienteId.$invalid && ingredienteFormComprar.ingredienteId.$dirty"
            class="alert alert-danger">
            ID Inválido
        </div>
        <div ng-show="ingredienteFormComprar.quantidade.$invalid && ingredienteFormComprar.quantidade.$dirty"
            class="alert alert-danger">
            Quantidade Inválida
        </div>
        <table class="table" ng-show="ctrl.showIngredienteComprado">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Quantidade Mínima</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ctrl.ingredienteComprado.id}}</td>
                    <td>{{ctrl.ingredienteComprado.nome}}</td>
                    <td>{{ctrl.ingredienteComprado.quantidade}}</td>
                    <td>{{ctrl.ingredienteComprado.quantidadeMinima}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="jumbotron" id="darBaixa" ng-show="ctrl.viewPagina == 'darBaixa'">
        <h4>Dar Baixa</h4>
        <form name="ingredienteFormDarBaixa">
            <input class="form-control" type="text" ng-model="ingredienteDarBaixa.id" name="ingredienteId"
                placeholder="ID do Ingrediente" ng-pattern="/^[1-9][0-9]*$/" ng-required="true" />
            <input class="form-control" type="text" ng-model="ingredienteDarBaixa.quantidade" name="quantidade"
                placeholder="Quantidade da baixa" ng-pattern="/^\d*\.\d{1,3}$/" ng-required="true" />
        </form>
        <button style="margin-bottom: 15px;" class="btn btn-primary btn-block"
            ng-click="ctrl.darBaixa(ingredienteDarBaixa)" ng-disabled="ingredienteFormDarBaixa.$invalid">Dar
            Baixa</button>
        <div ng-show="ingredienteFormDarBaixa.ingredienteId.$invalid && ingredienteFormDarBaixa.ingredienteId.$dirty"
            class="alert alert-danger">
            ID Inválido
        </div>
        <div ng-show="ingredienteFormDarBaixa.quantidade.$invalid && ingredienteFormDarBaixa.quantidade.$dirty"
            class="alert alert-danger">
            Quantidade Inválida
        </div>
        <table class="table" ng-show="ctrl.showIngredientePerdido">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Quantidade Mínima</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ctrl.ingredientePerdido.id}}</td>
                    <td>{{ctrl.ingredientePerdido.nome}}</td>
                    <td>{{ctrl.ingredientePerdido.quantidade}}</td>
                    <td>{{ctrl.ingredientePerdido.quantidadeMinima}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="jumbotron" id="atualizarNome" ng-show="ctrl.viewPagina == 'atualizarNome'">
        <h4>Atualizar Nome</h4>
        <form name="ingredienteFormAtualizarNome">
            <input class="form-control" type="text" ng-model="ingredienteAtualizarNome.id" name="ingredienteId"
                placeholder="ID do Ingrediente" ng-pattern="/^[1-9][0-9]*$/" ng-required="true" />
            <input class="form-control" type="text" ng-model="ingredienteAtualizarNome.nome" name="nome" placeholder="Novo Nome"
                ng-pattern="/^[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$/" ng-required="true" />
        </form>
        <button style="margin-bottom: 15px;" class="btn btn-primary btn-block"
            ng-click="ctrl.atualizarNome(ingredienteAtualizarNome)" ng-disabled="ingredienteFormAtualizarNome.$invalid">Atualizar
            Nome</button>
        <div ng-show="ingredienteFormAtualizarNome.ingredienteId.$invalid && ingredienteFormAtualizarNome.ingredienteId.$dirty"
            class="alert alert-danger">
            ID Inválido
        </div>
        <div ng-show="ingredienteFormAtualizarNome.nome.$invalid && ingredienteFormAtualizarNome.nome.$dirty"
            class="alert alert-danger">
            Nome Inválido
        </div>
        <table class="table" ng-show="ctrl.showIngredienteNomeAtualizado">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Quantidade Mínima</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ctrl.ingredienteNomeAtualizado.id}}</td>
                    <td>{{ctrl.ingredienteNomeAtualizado.nome}}</td>
                    <td>{{ctrl.ingredienteNomeAtualizado.quantidade}}</td>
                    <td>{{ctrl.ingredienteNomeAtualizado.quantidadeMinima}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="jumbotron" id="atualizarQuantidadeMinima" ng-show="ctrl.viewPagina == 'atualizarQuantidadeMinima'">
        <h4>Atualizar Quantidade Minima</h4>
        <form name="ingredienteFormAtualizarQuantidadeMinima">
            <input class="form-control" type="text" ng-model="ingredienteAtualizarQuantidadeMinima.id" name="ingredienteId"
                placeholder="ID do Ingrediente" ng-pattern="/^[1-9][0-9]*$/" ng-required="true" />
            <input class="form-control" type="text" ng-model="ingredienteAtualizarQuantidadeMinima.quantidadeMinima" name="quantidadeMinima"
                placeholder="Quantidade Minima" ng-pattern="/^\d*\.\d{1,3}$/" ng-required="true" />
        </form>
        <button style="margin-bottom: 15px;" class="btn btn-primary btn-block"
            ng-click="ctrl.atualizarQuantidadeMinima(ingredienteAtualizarQuantidadeMinima)"
            ng-disabled="ingredienteFormAtualizarQuantidadeMinima.$invalid">Atualizar</button>
        <div ng-show="ingredienteFormAtualizarQuantidadeMinima.ingredienteId.$invalid && ingredienteFormAtualizarQuantidadeMinima.ingredienteId.$dirty"
            class="alert alert-danger">
            ID Inválido
        </div>
        <div ng-show="ingredienteFormAtualizarQuantidadeMinima.quantidadeMinima.$invalid && ingredienteFormAtualizarQuantidadeMinima.quantidadeMinima.$dirty"
            class="alert alert-danger">
            Nome Inválido
        </div>
        <table class="table" ng-show="ctrl.showIngredienteQuantidadeMinimaAtualizada">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Quantidade Mínima</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ctrl.ingredienteQuantidadeMinimaAtualizada.id}}</td>
                    <td>{{ctrl.ingredienteQuantidadeMinimaAtualizada.nome}}</td>
                    <td>{{ctrl.ingredienteQuantidadeMinimaAtualizada.quantidade}}</td>
                    <td>{{ctrl.ingredienteQuantidadeMinimaAtualizada.quantidadeMinima}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="jumbotron" ng-show="ctrl.ingredientesLimite.length == 0 && ctrl.viewPagina == 'ingredientesLimite'">
        <div class="alert alert-danger"> Não foi encontrado nenhum ingrediente!</div>
    </div>
    <div class="jumbotron" ng-show="ctrl.ingredientesLimite.length > 0 && ctrl.viewPagina == 'ingredientesLimite'"
        id="ingredientesLimite">
        <h4>Ingredientes</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Quantidade Mínima</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ingrediente in ctrl.ingredientesLimite">
                    <td>{{ingrediente.id}}</td>
                    <td>{{ingrediente.nome}}</td>
                    <td>{{ingrediente.quantidade}}</td>
                    <td>{{ingrediente.quantidadeMinima}}</td>
                    <td><button type="button" class="btn btn-success btn-sm" ng-click="ctrl.selecionarView('comprar', 'ingredientesLimite')">Comprar
                        </button></td>
                </tr>
            </tbody>
        </table>

        <div class="row lanc-list-pagination">
            <nav aria-label="...">
                <ul class="pagination">
                    <li ng-class="{ 'disabled': ctrl.paginationIngredientesLimiteFirst}" class="page-item">
                        <button type="button" ng-disabled="ctrl.paginationIngredientesLimiteFirst"
                            ng-click="ctrl.viewPageNavigationIngredientesLimiteAnterior()"
                            class="page-link">Anterior</button>
                    </li>
                    <li ng-repeat="viewPageIngredientesLimite in ctrl.paginationIngredientesLimite"
                        ng-class="{'active':ctrl.pageIngredientesLimite == viewPageIngredientesLimite}" class="page-item">
                        <a class="page-link"
                            ng-click="ctrl.viewPageNavigationIngredientesLimite(viewPageIngredientesLimite)">{{viewPageIngredientesLimite}}</a>
                    </li>
                    <li ng-class="{ 'disabled': ctrl.paginationIngredientesLimiteLast}" class="page-item">
                        <button type="button" ng-disabled="ctrl.paginationIngredientesLimiteLast"
                            ng-click="ctrl.viewPageNavigationIngredientesLimiteProxima()" class="page-link">Próxima</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="jumbotron" ng-show="ctrl.ingredientesZerados.length == 0 && ctrl.viewPagina == 'ingredientesZerados'">
        <div class="alert alert-danger"> Não foi encontrado nenhum ingrediente!</div>
    </div>
    <div class="jumbotron" ng-show="ctrl.ingredientesZerados.length > 0 && ctrl.viewPagina == 'ingredientesZerados'"
        id="ingredientesZerados">
        <h4>Ingredientes</h4>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Quantidade</th>
                    <th>Quantidade Mínima</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ingrediente in ctrl.ingredientesZerados">
                    <td>{{ingrediente.id}}</td>
                    <td>{{ingrediente.nome}}</td>
                    <td>{{ingrediente.quantidade}}</td>
                    <td>{{ingrediente.quantidadeMinima}}</td>
                    <td><button type="button" class="btn btn-success btn-sm" ng-click="ctrl.selecionarView('comprar', 'ingredientesZerados')">Comprar
                        </button></td>
                </tr>
            </tbody>
        </table>

        <div class="row lanc-list-pagination">
            <nav aria-label="...">
                <ul class="pagination">
                    <li ng-class="{ 'disabled': ctrl.paginationIngredientesZeradosFirst}" class="page-item">
                        <button type="button" ng-disabled="ctrl.paginationIngredientesZeradosFirst"
                            ng-click="ctrl.viewPageNavigationIngredientesZeradosAnterior()"
                            class="page-link">Anterior</button>
                    </li>
                    <li ng-repeat="viewPageIngredientesZerados in ctrl.paginationIngredientesZerados"
                        ng-class="{'active':ctrl.pageIngredientesZerados == viewPageIngredientesZerados}" class="page-item">
                        <a class="page-link"
                            ng-click="ctrl.viewPageNavigationIngredientesZerados(viewPageIngredientesZerados)">{{viewPageIngredientesZerados}}</a>
                    </li>
                    <li ng-class="{ 'disabled': ctrl.paginationIngredientesZeradosLast}" class="page-item">
                        <button type="button" ng-disabled="ctrl.paginationIngredientesZeradosLast"
                            ng-click="ctrl.viewPageNavigationIngredientesZeradosProxima()" class="page-link">Próxima</button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

</div>